<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../layouts/headers'); %>

        <div class="container">
            <div class="vstack content gap-2">
                <%- include('../components/UpdateProfile') %> <%-
                include('../components/player') %>

                <div class="swiper">
                    <div class="swiper-wrapper movies"></div>
                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <div class="swiper-scrollbar"></div>
                </div>

                <div class="hstack">
                    <%- include('../components/users') %> <%-
                    include('../components/MovieForm') %>
                </div>
            </div>
        </div>

        <%- include('../layouts/footer'); %>
    </body>
</html>
